body{
	background-color : #CCEEFF;
	
	
}
h1{
	margin-top: 100px;
	margin-left : 550px;
	font-family: "comics sans ms";
	font-size : 60px;
	
}

	
	
	
#monde{
	margin-left : 470px;
}

#pologne{
	margin-left : 350px;
	margin-top : -10px;
	
}

#titre_pologne{
	font-family : "comics sans ms";
	font-size : 30px;
	margin-left : 350px;
	color : #FF1919;
	text-decoration:none; 
}


#autriche{
	margin-left : 100px;
	margin-top : -10px;
	
}

#titre_autriche{
	font-family : "comics sans ms";
	font-size : 30px;
	margin-left : 100px;
	color : #FF1919;
	text-decoration:none; 
}

#perou{
	margin-left : 100px;
	margin-top : -10px;
	
}

#titre_perou{
	font-family : "comics sans ms";
	font-size : 30px;
	margin-left : 100px;
	color : #FF1919;
	text-decoration:none; 
}

#turquie{
	margin-left : 100px;
	margin-top : -10px;
	
}

#titre_turquie{
	font-family : "comics sans ms";
	font-size : 30px;
	margin-left : 100px;
	color : #FF1919;
	text-decoration:none; 
}

#israel{
	margin-left : 100px;
	margin-top : -10px;
	
}

#titre_israel{
	font-family : "comics sans ms";
	font-size : 30px;
	margin-left : 100px;
	color : #FF1919;
	text-decoration:none; 
}